*{
    margin: 0px;
    padding: 0px;
}

.menu-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 50px 208px 50px 300px 60px;
}

header{
    grid-column:  1 / span 3;
    background-color: brown;
}

.imag{
    grid-column:  1 / span 3;
    background-color: rgb(231, 161, 69);
}

.nav{
    grid-column:  1 / span 3;
    background-color: rgb(124, 209, 248);
}

.left{
    background-color: rgb(0, 255, 76);
}

article{
    background-color: rgb(217, 255, 0);
}

.right{
    background-color: rgb(255, 102, 0);
}

footer{
    grid-column:  1 / span 3;
    background-color: rgb(28, 60, 245);
}


@media all and (max-width: 900px){
    aside, article{
        grid-column: 1 / span 3;
    }
    .menu-grid{
        grid-template-rows: repeat(7, 100px);

    }
}

@media all and (max-width: 600px){
    aside, article{
        grid-column: 1 / span 3;
    }
    .menu-grid{

        grid-template-rows: repeat(7, 100px);

    }
}



